*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Poppins',sans-serif;
    background: #f8f9fa;
}


/* nav bar */

.navbar{
    
    display: flex;
    align-items: center;
justify-content: space-between;

padding: 20px 8%;

background-color: white;
position: sticky;
top: 0;

}

.logo{
    font-size:30px;
    font-weight:700;
    color:#ff6b00;
}

.nav-links{
    list-style:none;

    display:flex;
    gap:35px;
    
}

.nav-links li{
    padding: 10px;
    
}
.nav-links a{
    text-decoration:none;
    color:#333;
    font-weight:700;

    
    
}

.nav-links a:hover{
    background-color: #f2f2f2;
}

/* dropdown */

.dropdown{
   
    position: relative;

}
.dropdown li{
    list-style-type: none;

}



.dropdown-menu{

    position:absolute;

    top:35px;
    left:0;

    width:180px;
display: none;
    background:white;

    list-style:none;

    border-radius:10px;

    box-shadow:0 5px 15px rgba(0,0,0,.1);

}

.dropdown-menu li{
    padding:12px;
    font-weight: 700;
   
   
  
}

.dropdown:hover .dropdown-menu{
    display: block;
}




.login-btn{
    
    padding: 10px 24px;
    font-weight: 800;

    color: white;
    border-radius: 8px;

    background: #ff6b00;
}



/* hero section */

.hero{
   

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;

    padding: 80px 60px;
  
}
.hero-content{
    width: 600px;
}
#badge{
    
    display: inline-block;
    background: #ffe7d6;
    color: #ff6b00;
    padding: 10px 20px;
    border-radius: 50px;
    margin-bottom: 20px;
    font-size: 14px;
}

.hero-content h1{
    font-size: 55px;
    margin-bottom: 20px;
}

.hero-content p{
    color: #666;
    margin-bottom: 30px;
}
/* hero-button  */
.hero-button{
    
    display: flex;
    gap: 15px;



}
.first-btn{
padding: 12px 28px;
background: #ff6b00;
color:  white;
border: none;
border-radius: 8px;
cursor: pointer;
}

.second-btn{
    padding: 12px 28px;
    background: #666;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.hero-image{
    display: flex;
}
.hero-image img{
    width: 100%;
    border-radius: 20px ;
    
}
/* products */
.Product{
    padding: 80px 8%;
}
.Product h2{
    text-align: centre;
margin-bottom: 50px;
font-size: 40px;
}
.Card-Container{
    display: flex;
    justify-content: center;
   
    gap: 30px;

}
.card{
    
display: flex;
flex-direction: column;
    width: 280px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    
}

.card-images{
    width: 100%;
    height: 200px;
}
.card-images img{
    width: 100%;
    height: 100%;
    
}

.card-content{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.card-content h3{
    margin-bottom: 20px;
}
.card-content p{
    color: #666;
    margin-bottom: 15px;
    min-height: 50px;
}

.card-content span{
      
    display: block;
    font-size: 22px;
    font-weight: 700;
    color: #ff6b00;
    margin-bottom: 15px;
}

.card-content button{
  
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background: #ff6b00;
    color: white;
    cursor: pointer
}
/* Footer */
.Footer{
   
    background: #1e1e1e;
    color: white;
    margin-top: 30px
}
.Footer-conatiner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    padding: 50px 8%;
}
.footer-about{
    width: 300px;
  
}
.footer-about h3 {
    color: #ff6b00;
    margin-bottom: 15px;
}
.footer-about p {
    color: #ccc;
    
}
.footer-links h4 {
    margin-bottom: 15px;
}
.footer-links a{
    display: block;
    text-decoration: none;
    color: #ccc;
    margin-bottom: 10px;
}
.footer-links a:hover{
    color: #ff6b00;
    text-decoration: none;
}
.footer-contact h4{
    margin-bottom:15px;
}

.footer-contact p{

    color:#ccc;

    margin-bottom:10px;
}
.footer-bottom{

    text-align:center;

    padding:20px;

    border-top:1px solid rgba(255,255,255,.1);

    color:#aaa;
}